body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
}


.navbar {
    background-color: #0056b3;
}

.navbar a {
    color: white !important;
}
.container {
    margin-top: 20px;
}

.list-group-item {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
}
.list-group-item a {
    color: #0056b3;
}

.btn-primary {
    background-color: #0056b3;
    border-color: #0056b3;
}
