body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
}


.navbar {
    background-color: #0056b3;
}

.navbar a {
    color: white !important;
}
.container {
    margin-top: 20px;
}

.list-group-item {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
}
.list-group-item a {
    color: #0056b3;
}

.btn-primary {
    background-color: #0056b3;
    border-color: #0056b3;
}
.btn-primary:hover {
    background-color: #004085;
    border-color: #004085;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-warning:hover {
    background-color: #e0a800;
    border-color: #e0a800;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}
